<div id="header">Наши филиалы</div>
<div id="content">
<p>
    Информация о филиалах всегда актуальна на текущую дату.
    <br><h2>
    В {{date.year}} году планируется открытие дополнительных офисов.
    Возможно обучение и трудоустройство: перейди на главную страницу и зарегистрируйся для получения обратной связи.
</h2></p>
<table>
    <tr class="head">
        <th>Филиал</th>
        <th>Нижний Новгород</th>
        <th>Дзержинск</th>
        <th>Балахна</th>
    </tr>
    <tr>
        <th>Сормовский</th>
        <td>пер. Проходной<br>д.3, эт.2, оф.4</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="even">
        <th>Нагорный</th>
        <td>ул. Корнилова<br>д.50, эт.2, оф.1</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Дзержинский</th>
        <td></td>
        <td>б-р Правды<br>дом 2</td>
        <td></td>
    </tr>
    <tr class="even">
        <th>Балахнинский</th>
        <td></td>
        <td></td>
        <td>пр. Дзержинског<br>д.32, эт.1, оф.14</td>
    </tr>
    <tr>
        <th>Заречный | П л а н и р у е т с я<br>открытие во 2-м квартале {{date.year}}</th>
        <td>пр. Ленина<br>д.54а, эт.5, оф.51</td>
        <td></td>
        <td></td>
    </tr>
</table>
</div>
