{% extends "base.html" %}

{% block title %}
Заявки
{% endblock %}

{% block menu %}
{% include "inc-menu.html" %}
{% endblock %}

{% block body %}
<div id="header">
    Создание заявки
</div>
<div id="content">
    <h2>Создание категории</h2>
    <form method="post">
        <input type="text" name="name" placeholder="Название">
        <button type="submit">Сохранить и вернуться к заявкам</button>
    </form>
</div>
{% endblock %}

{% block footer%}
{% include "inc-footer.html" %}
{% endblock %}
