<div id="header">Наши объекты недвижимости в продаже</div>
<div id="content">
		<p><h2>
			Заинтересовала квартира или дом, но недостаточно представленной информации? Хочешь получить индивидуальное предложение?
			<br>Перейди на главную страницу и зарегистрируйся для получения обратной связи.
		</h2></p>
		<table>
			<tr class="head">
				<th>Тип</th>
				<th>Адрес</th>
				<th>Количество<br>комнат</th>
				<th>Площадь, м2</th>
				<th>Этаж</th>
				<th>Цена, руб.</th>
			</tr>
			<tr>
				<th>квартира</th>
				<th>г.Н.Новгород, пр.Рязанова, д.12, корп.2</th>
				<th>3</th>
				<td>72</td>
				<td>9/9</td>
				<td>6000000</td>
			</tr>
			<tr class="even">
				<th>квартира</th>
				<th>г.Н.Новгород, ул.Пушкина, д.122</th>
				<th>1</th>
				<td>32</td>
				<td>3/5</td>
				<td>2900000</td>
			</tr>
			<tr>
				<th>квартира</th>
				<th>г.Н.Новгород, пр.Ленина, д.2, корп.6</th>
				<th>1</th>
				<td>40</td>
				<td>9/27</td>
				<td>5500000</td>
			</tr>
			<tr class="even">
				<th>дом</th>
				<th>г.Балахна, ул.Центральная, д.5б</th>
				<th>7</th>
				<td>191</td>
				<td>2</td>
				<td>5300000</td>
			</tr>
			<tr>
				<th>квартира</th>
				<th>г.Дзержинск, пр.Циолковского, д.546, корп.1</th>
				<th>2</th>
				<td>42</td>
				<td>8/9</td>
				<td>4000000</td>
			</tr>
			<tr class="even">
				<th>квартира</th>
				<th>г.Дзержинск, ул.Конева, д.1</th>
				<th>3</th>
				<td>62</td>
				<td>1/5</td>
				<td>4100000</td>
			</tr>
			<tr>
				<th>дом</th>
				<th>г.Н.Новгород, ул.Ломоносова, д.22</th>
				<th>3</th>
				<td>82</td>
				<td>1</td>
				<td>8000000</td>
			</tr>
		</table>
</div>
