{% extends "base.html" %}

{% block title %}
Заявки
{% endblock %}

{% block menu %}
{% include "inc-menu.html" %}
{% endblock %}

{% block body %}
<div id="header">
    Создание заявки
</div>
<div id="content">
    <a href="/obj-manager/">к заявкам</a>

    <div>
        <a href="/create-category/?id={{id}}">Создать новую подкатегорию (Например: "Нижний Новгород")</a>
    </div>


    <h2>Список категорий и подкатегорий</h2>
    <ul>

        {% for item in categories_list %}
        <li>
            {{item.category}}: {{item.name}}: <span>Количество объектов: {{item.objects_count()}}</span>
        </li>
        {% endfor %}
    </ul>

	<div>
		<li><a href="/objects-list/">Список объектов</a></li>
		<li><a href="/create-object/">Создать объект</a></li>
	</div>
</div>
{% endblock %}

{% block footer%}
{% include "inc-footer.html" %}
{% endblock %}
