<form action="" method="post">
    <fieldset>
        <legend>Зарегистрируйтесь и заполните данные для обратной связи</legend>
        <p><label class="title" for="name">Ваше имя:</label>
            <input type="text" name="name" id="name"><br/>
        <p><label class="title" for="phone">Ваш телефон:</label>
            <input type="text" name="phone" id="phone"></p>
        <label class="title" for="email">Ваш email:</label>
        <input type="text" name="email" id="email"></p>
        <p><label for="location" class="title">Ближайший центр:</label>
            <select name="location" id="location">
                <option value="nn">Нижний Новгород</option>
                <option value="dz">Дзержинск</option>
                <option value="ba">Балахна</option>
            </select></p>
        <span class="title">Уже работаете с агентом?</span>
        <label><input type="radio" name="member" value="yes"/> Да</label>
        <label><input type="radio" name="member" value="no"/> Нет</label></p><br>
        <p><label class="title" for="title_msg">Тема сообщения:</label>
            <input type="text" name="title_msg" id="title_msg">
        <p><label class="title" for="msg">Ваше сообщение:</label>
            <input type="text" name="msg" id="msg"><br/>
        <div class="submit"><input type="submit" value="Регистрация и отправка сообщения"/></div>
    </fieldset>
</form>
<br>
